---
export const prerender = false;

import config from "../config";
import Layout from "../layouts/Layout.astro";
import Dash from "../components/Dash";
import { checkAuth } from "../lib/checkauth";

if (!Astro.cookies.has(config.authCookieKey)) {
  return Astro.redirect("/sign-in");
}

const authUser = Astro.cookies.get(config.authCookieKey).value;

const isAuth = await checkAuth({
  email: authUser,
});

if (!isAuth) {
  return Astro.redirect("/sign-in");
}
---

<Layout title={config.appName}>
  <main class="lg:ml-[20%] pt-20 lg:w-[80%]">
    <Dash />
  </main>
</Layout>
