---
import config from "../config";
import Layout from "../layouts/Layout.astro";
import { checkAuth } from "../lib/checkauth";
import Footer from "../components/Footer";
import Prices from "../components/Prices";

export const prerender = false;

if (!Astro.cookies.has(config.authCookieKey)) {
  return Astro.redirect("/sign-in");
}

const authUser = Astro.cookies.get(config.authCookieKey).value;

const isAuth = await checkAuth({
  email: authUser,
});

if (!isAuth) {
  return Astro.redirect("/sign-in");
}
---

<Layout title={config.appName}>
  <main class="lg:ml-[20%] pt-20 lg:w-[80%]">
    <Prices />

    <div
      class="px-4 pt-8 lg:pt-12 grid grid-cols-12 gap-8 justify-center items-center"
    >

          <!-- Widget 1  -->

    <div class="pt-4 col-span-12 lg:col-span-3">
      <script
        async
        src="https://static.coinstats.app/widgets/insights-widget.js"></script>
      <coin-stats-insight-widget
        type="dominance"
        bg-color="#1C1B1B"
        text-color="#FFFFFF"
        chart-primary-color="#FFA959"
        chart-secondary-color="#E9BC48"
        button-color="#FFA959"
        border-color="rgba(255,255,255,0.15)"
        font="Roboto, Arial, Helvetica"
        coin-id="bitcoin"></coin-stats-insight-widget>
    </div>


      <div class="p-6 rounded-md self-start col-span-12 lg:col-span-4 bg-bg2 ">
        <div class="bg-bg3 rounded-md p-6">
          <div class="flex flex-col space-y-6">
            <span class="text-xl text-text1 text-center">
              {" "}
              Total Balance{" "}
            </span>

            <p
              class="text-2xl lg:text-3xl text-white font-semibold text-center"
            >
              {" "}
              $12,344.00 USD
            </p>
          </div>

          <div
            class="self-center w-full flex flex-row justify-center items-center mt-8"
          >
            <div class="flex flex-row justify-around items-center gap-8">
              <button
                class="px-3 py-1 text-sm rounded-md bg-[#3ebf81] text-center font-semibold text-white/80 hover:bg-[#3ebf81]/80 transition-flow"
              >
                {" "}
                Withdraw{" "}
              </button>

              <button
                class="px-3 py-1 border-[1px] border-white/40 hover:border-white/80 hover:bg-bg2 text-sm rounded-md text-center font-semibold text-white/80 transition-flow"
              >
                Deposit
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-span-12 lg:col-span-5 self-stretch">
        <div class="p-6 rounded-md bg-bg2 space-y-8">
          <div class="space-y-6">
            <p class="text-base text-white/80">Total Withdrawal</p>

            <p class="text-2xl lg:texg-3xl font-semibold text-white">
              10,3848 USD
            </p>
          </div>

          <div class="space-y-6">
            <p class="text-base text-white/80">Total deposit</p>

            <p class="text-2xl lg:texg-3xl font-semibold text-white">
              8,3848 USD
            </p>
          </div>
        </div>
      </div>

      

    </div>

        <div class="pt-8 w-full px-4">


          <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright w-full"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-quotes.js" async>
  {
  "width": 0,
  "height": 450,
  "symbolsGroups": [
    {
      "name": "Futures",
      "originalName": "Futures",
      "symbols": [
        {
          "name": "CME_MINI:ES1!",
          "displayName": "S&P 500"
        },
        {
          "name": "CME:6E1!",
          "displayName": "Euro"
        },
        {
          "name": "COMEX:GC1!",
          "displayName": "Gold"
        },
        {
          "name": "NYMEX:CL1!",
          "displayName": "Oil"
        },
        {
          "name": "NYMEX:NG1!",
          "displayName": "Gas"
        },
        {
          "name": "CBOT:ZC1!",
          "displayName": "Corn"
        },
        {
          "name": "BITSTAMP:BTCUSD",
          "displayName": "BTC"
        }
      ]
    },
    {
      "name": "Bonds",
      "originalName": "Bonds",
      "symbols": [
        {
          "name": "CME:GE1!",
          "displayName": "Eurodollar"
        },
        {
          "name": "CBOT:ZB1!",
          "displayName": "T-Bond"
        },
        {
          "name": "CBOT:UB1!",
          "displayName": "Ultra T-Bond"
        },
        {
          "name": "EUREX:FGBL1!",
          "displayName": "Euro Bund"
        },
        {
          "name": "EUREX:FBTP1!",
          "displayName": "Euro BTP"
        },
        {
          "name": "EUREX:FGBM1!",
          "displayName": "Euro BOBL"
        }
      ]
    },
    {
      "name": "Forex",
      "originalName": "Forex",
      "symbols": [
        {
          "name": "FX:EURUSD",
          "displayName": "EUR to USD"
        },
        {
          "name": "FX:GBPUSD",
          "displayName": "GBP to USD"
        },
        {
          "name": "FX:USDJPY",
          "displayName": "USD to JPY"
        },
        {
          "name": "FX:USDCHF",
          "displayName": "USD to CHF"
        },
        {
          "name": "FX:AUDUSD",
          "displayName": "AUD to USD"
        },
        {
          "name": "FX:USDCAD",
          "displayName": "USD to CAD"
        }
      ]
    }
  ],
  "showSymbolLogo": true,
  "colorTheme": "dark",
  "isTransparent": false,
  "locale": "en"
}
  </script>
</div>
<!-- TradingView Widget END -->

        </div>


    <Footer />
  </main>
</Layout>
