---
export const prerender = false;

import config from "../config";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer";
import Dash from "../components/Dash";
import { checkAuth } from "../lib/checkauth";

if (!Astro.cookies.has(config.authCookieKey)) {
  return Astro.redirect("/sign-in");
}

const authUser = Astro.cookies.get(config.authCookieKey).value;

const isAuth = await checkAuth({
  email: authUser,
});

if (!isAuth) {
  return Astro.redirect("/sign-in");
}
---

<Layout title={config.appName}>
  <main class="md:ml-[20%] pt-20 md:w-[80%]">
    <Dash />

    <!-- Trading View Wrapper  -->

    <div class="px-4 pt-8">
      <div class="tradingview-widget-container">
        <div class="" id="tradingview_dd969"></div>
        <div class="tradingview-widget-copyright">
          <a
            href="https://www.tradingview.com/"
            rel="noopener nofollow"
            target="_blank"><span class="blue-text">Loading...</span></a
          >
        </div>
        <script type="text/javascript" src="https://s3.tradingview.com/tv.js"
        ></script>
        <script type="text/javascript">
          new TradingView.widget({
            autosize: true,
            symbol: "BITSTAMP:BTCUSD",
            interval: "D",
            timezone: "Etc/UTC",
            theme: "dark",
            style: "3",
            locale: "en",
            enable_publishing: false,
            backgroundColor: "rgba(0, 0, 0, 1)",
            allow_symbol_change: true,
            container_id: "tradingview_dd969",
          });
        </script>
      </div>
    </div>

    <Footer />
  </main>
</Layout>
